<div *ngIf="loading" class="text-center pt-5 mt-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="data" class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-6">
        <div class="card bg-white shadow rounded-4">
            <div class="card-body pb-0">
                <div class=" mt-1 mb-2 text-center">
                    <img [src]="profileUrl" alt="Imagen de perfil" class="rounded-circle" width="150"/>

                    <h3 class="card-title font-medium mt-3">
                        {{ data.nombre }} {{ data.apellidoP }} {{ data.apellidoM }}
                    </h3>
                    <h4 class="card-subtitle">{{ data.datos_generales.ocupacion }} - {{ calculateAge(data.datos_generales.fechaNacimiento) }} años</h4>
                    <div class="row justify-content-md-center mt-4">
                        <div class="col">
                            <h4 class="mb-0">
                                <i class="fas fa-stethoscope me-1"></i>Pruebas
                                <span class="rounded-pill bg-info text-white py-0 px-3">{{ lengthTest }}</span>
                            </h4>
                        </div>
                        <div class="col">   
                            <h4 class="mb-0">
                                <i class="fas fa-chart-line me-1"></i>Preva.
                                <span *ngIf="results.prob === null" class="rounded-pill bg-success text-white py-0 px-2">--%</span>
                                <span *ngIf="results.prob !== null" class="rounded-pill bg-success text-white py-0 px-2">{{ results.prob * 100 }}%</span>
                            </h4>
                        </div>
                        <div class="col">
                            <h4 class="mb-0">
                                <i class="fas fa-heartbeat me-1"></i>TDAH<br>
                                <span class="rounded-pill bg-info text-white py-0 px-2">
                                    <ng-container *ngIf="results.adhd === null">
                                        --
                                    </ng-container>
                                    <ng-container *ngIf="results.adhd === 0">
                                        Sin TDAH
                                    </ng-container>
                                    <ng-container *ngIf="results.adhd === 1">
                                        Inatento
                                    </ng-container>
                                    <ng-container *ngIf="results.adhd === 2">
                                        Hiperactivo
                                    </ng-container>
                                    <ng-container *ngIf="results.adhd === 3">
                                        Mixto
                                    </ng-container>
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body pt-2">
                <div class="row g-3 pt-0">
                    <div class="col">
                        <button type="button" class="btn btn-primary text-white btn-rounded fw-medium w-100 fs-4" (click)="open(content)">
                            <i class="fa fas fa-download me-2"></i>Exportar 
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-success text-white btn-rounded fw-medium w-100 fs-4" [disabled]="isEmptyList" (click)="get_predict_diag()">
                            <i class="fas fa-heartbeat me-2"></i>Evaluar
                        </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <a href="/app/prepare-test" type="button" class="btn btn-info text-white btn-rounded fw-medium w-100 fs-4" (click)="saveDataPatient()">
                            <i class="fas fa-stethoscope me-2"></i>Iniciar prueba
                        </a>
                    </div>
                </div>
                <!-- Mi modal Start -->
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header bg-primary bg-opacity-100 text-white">
                        <h4 class="modal-title" id="modal-basic-title">Exportar Lista de Pacientes</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body fs-4">
                        <form>
                            <label class="mr-sm-2" for="">Exportar como:</label>
                            <div class="input-group">
                                <select class="form-select mr-sm-2" id="">
                                    <option selected>Seleccionar...</option>
                                    <option value="1">CSV</option>
                                    <option value="2">PDF</option>
                                    <option value="3">XML</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button">Descargar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary text-primary btn-lg px-4 fs-3 font-medium" 
                                (click)="c('Save click')">Cerrar</button>
                    </div>
                </ng-template>
                <!-- Mi modal End -->
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-6">
        <div class="card bg-white shadow rounded-4">
            <div class="card-body">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">
                    <!-- *ngIf="lengthTest !== 0" -->
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="card-subtitle mb-0 fs-4"><strong>Seguimiento</strong></a>
                        <ng-template ngbNavContent>
                            <div class="row pb-0 mb-0" style="height: 24.2rem;">
                                <app-history-tdah-tests *ngIf="tests" [pruebas]="tests"></app-history-tdah-tests>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="card-subtitle mb-0 fs-4"><strong>Perfil</strong></a>
                        <ng-template ngbNavContent>
                            <div class="card-body overflow-auto fw-normal ps-1 pt-2 pb-0 fs-4" style="height: 24.2rem;">
                                <div class="row mt-auto">
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Fecha de registro</strong>
                                        <br>
                                        <span class="text-muted">{{ data.fechaRegistro }}</span>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Celular</strong>
                                        <br>
                                        <span class="text-muted">{{ data.datos_generales.numTelefono }}</span>
                                    </div>
                                    <div class="col-md-3 col-xs-6 b-r">
                                        <strong>Correo</strong>
                                        <br>
                                        <span class="text-muted">{{ data.correo }}</span>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <strong>Ciudad</strong>
                                        <br>
                                        <span class="text-muted">{{ data.datos_generales.ciudadResidencia }}</span>
                                    </div>
                                </div>
                                <hr>
                                <h3>Descripción del paciente</h3>
                                <p class="mt-4">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                                    enim justo, rhoncus ut,
                                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                    Integer
                                    tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                                    tellus.
                                    Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer
                                    took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five
                                    centuries
                                </p>
                                <!-- <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including
                                    versions
                                    of Lorem Ipsum.</p> -->
                                <hr>
                                <div class="row">
                                    <div class="col">
                                        <h4 class="mt-3">Padecimientos previos</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0 bg-white">
                                                <i class="fas fa-heartbeat"></i> Trastorno Ejemplo 1
                                            </li>
                                            <li class="list-group-item px-0 bg-white">
                                                <i class="fas fa-heartbeat"></i> Trastorno Ejemplo 2
                                            </li>
                                            <li class="list-group-item px-0 bg-white">
                                                <i class="fas fa-heartbeat"></i> Trastorno Ejemplo 3
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h4 class="mt-3">Tratamientos</h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0 bg-white">
                                                <i class="fas fa-pills"></i> Tratamiento Ejemplo 1
                                            </li>
                                            <li class="list-group-item px-0 bg-white">
                                                <i class="fas fa-pills"></i> Tratamiento Ejemplo 2
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink class="card-subtitle mb-0 fs-4"><strong>Formularios</strong></a>
                        <ng-template ngbNavContent>
                            <div class="card-body overflow-auto fw-normal ps-1 pt-2 pb-0 fs-4" style="height: 24.2rem;">
                                <h3>Formularios para TDAH</h3>
                                <p>Los siguientes formularios tienen como propósito identificar de mejor manera la prevalencia del TDAH. Se recomienda resolver al menos un formulario previo a la realización de cualquier prueba.</p>
                                <hr>
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col">
                                        <span class="h3 mb-0 me-2">ASRS</span>
                                        <span class="fs-4">(Score: {{ forms.asrs != null ? forms.asrs : '0' }} pts.)</span>
                                    </div>
                                    <div class="col text-end">
                                        <a [routerLink]="['/app/patients/forms/ASRS-form']" 
                                            class="btn btn-primary btn-rounded py-1 px-2 fs-4">
                                            <i class="fas fa-external-link-alt"></i> Ir al formulario
                                        </a>
                                    </div>
                                </div>
                                <p>
                                    La Escala de Autoinforme de TDAH en Adultos (ASRS) es una herramienta de cribado para evaluar los síntomas actuales del TDAH. Esta escala de 18 ítems evalúa los síntomas de impulsividad, hiperactividad y falta de atención. Los resultados son puntuaciones sumadas entre 0 y 72, y una puntuación más alta significa síntomas más graves. 
                                </p>
                                <hr>
                                <div class="row d-flex justify-content-between">
                                    <div class="col align-items-center">
                                        <span class="h3 mb-0 me-2">WURS</span>
                                        <span class="fs-4">(Score: {{ forms.wurs != null ? forms.wurs : '0' }} pts.)</span>
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button href="" class="btn btn-success btn-rounded py-1 px-2 fs-4">
                                            <i class="fas fa-external-link-alt"></i> Ir al formulario
                                        </button>
                                    </div>
                                </div>
                                <p>
                                    La Wender Utah Rating Scale for Attention Deficit Hyperactivity Disorder (WURS) es un cuestionario de 25 ítems que evalúa retrospectivamente la presencia y gravedad de los síntomas del TDAH infantil. La escala arroja una puntuación total entre 0 y 100, y las puntuaciones más altas indican una mayor manifestación y gravedad de los síntomas.   
                                </p>
                                <hr>
                                <div class="row d-flex justify-content-between">
                                    <div class="col align-items-center">
                                        <span class="h3 mb-0 me-2">MDQ</span>
                                        <span class="fs-4">(Score: {{ forms.mdq != null ? forms.mdq : '0' }} pts.)</span>
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button href="" class="btn btn-secondary btn-rounded text-white py-1 px-2 fs-4">
                                            <i class="fas fa-external-link-alt"></i> Ir al formulario
                                        </button>
                                    </div>
                                </div>
                                <p>
                                    El Cuestionario de Trastornos del Estado de Ánimo (MDQ) es un instrumento de cribado autoinformado para el trastorno del espectro bipolar, que contiene 13 preguntas sí/no relativas a síntomas hipomaníacos/maníacos comúnmente observados en el trastorno bipolar, así como dos preguntas adicionales. Los criterios diagnósticos son que al menos 7 de las 13 preguntas se respondan afirmativamente, que varios de los síntomas se hayan presentado a la vez y que hayan causado problemas personales.
                                </p>
                                <hr>
                                <div class="row d-flex justify-content-between">
                                    <div class="col align-items-center">
                                        <span class="h3 mb-0 me-2">CT</span>
                                        <span class="fs-4">(Score: {{ forms.ct != null ? forms.ct : '0' }} pts.)</span>
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button href="" class="btn btn-info btn-rounded py-1 px-2 fs-4">
                                            <i class="fas fa-external-link-alt"></i> Ir al formulario
                                        </button>
                                    </div>
                                </div>
                                <p>
                                    La escala de temperamento ciclotímico (TC) es una escala de autoevaluación de 21 ítems, que evalúa la inestabilidad emocional y la hipersensibilidad a los estímulos externos típicamente asociadas a este trastorno del espectro bipolar. La TC forma parte originalmente del cuestionario TEMP-A exhaustivo. 
                                </p>
                                <hr>
                                <div class="row d-flex justify-content-between">
                                    <div class="col align-items-center">
                                        <span class="h3 mb-0 me-2">MADRS</span>
                                        <span class="fs-4">(Score: {{ forms.madrs != null ? forms.madrs : '0' }} pts.)</span>
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button href="" class="btn btn-warning btn-rounded py-1 px-2 fs-4">
                                            <i class="fas fa-external-link-alt"></i> Ir al formulario
                                        </button>
                                    </div>
                                </div>
                                <p>
                                    La Escala de Calificación de la Depresión de Montgomery y Asberg (MADRS) es un instrumento de 10 ítems calificado por el clínico, que evalúa la gravedad de la depresión en curso. La puntuación total (0-60) indica la gravedad de la depresión, y las puntuaciones inferiores a 10 se clasifican como ausencia de síntomas depresivos.
                                </p>
                                <hr>
                                <div class="row d-flex justify-content-between">
                                    <div class="col align-items-center">
                                        <span class="h3 mb-0 me-2">HADS</span>
                                        <span class="fs-4">(Score: {{ forms.hads_a != null ? forms.hads_a : '0' }} pts.)</span>
                                    </div>
                                    <div class="col text-end align-items-center">
                                        <button href="" class="btn btn-dark btn-rounded py-1 px-2 fs-4">
                                            <i class="fas fa-external-link-alt"></i> Ir al formulario
                                        </button>
                                    </div>
                                </div>
                                <p>
                                    La Escala Hospitalaria de Ansiedad y Depresión (HADS) es un instrumento de evaluación valorado por el paciente para evaluar la gravedad del estado actual de ansiedad y depresión. La escala consta de 14 ítems, siete de los cuales evalúan el nivel de ansiedad (HADS-A) y siete el estado depresivo (HADS-D). Cada dimensión da una puntuación total entre 0 y 21, y las puntuaciones por debajo de 8 indican la ausencia de síntomas en relación con la afección en cuestión.
                                </p>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col mt-2">
        <div class="card bg-white shadow rounded-4">
            <div class="card-body">
                <div class="row px-3">
                    <app-table-results-test [tests]="tests"></app-table-results-test>
                </div>
            </div>
        </div>
    </div>
</div>