<div class="row">
    <div class="col-12">
        <div class="card shadow bg-white rounded-4">
            <div class="card-body px-5">
                <div class="row pb-4 no-gutters mt-3">
                    <div class="col-sm-12 col-md-6 d-flex">
                        <h2 class="fw-medium mb-0">Lista de Pacientes</h2>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="float-start float-md-end w-100">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-rounded btn-outline-primary fs-4" (click)="open(content)">
                                    <i class="fa fas fa-download me-1"></i> Exportar
                                </button>
                                <!-- Mi modal Start -->
                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header bg-primary bg-opacity-100 text-white fs-4">
                                        <h4 class="modal-title" id="modal-basic-title">Exportar Lista de Pacientes</h4>
                                        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                                    </div>
                                    <div class="modal-body fs-4 bg-white">
                                        <form>
                                            <label class="mr-sm-2" for="">Exportar como:</label>
                                            <div class="input-group">
                                                <select class="form-select mr-sm-2" id="">
                                                    <option selected>Seleccionar...</option>
                                                    <option value="1">CSV</option>
                                                    <option value="2">PDF</option>
                                                    <option value="3">XML</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-success" type="button">Descargar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer bg-white">
                                        <button type="button" class="btn btn-light-primary text-primary btn-lg px-4 fs-4 font-medium" 
                                                (click)="c('Save click')">Cerrar</button>
                                    </div>
                                </ng-template>
                                <!-- Mi modal End -->
                                <a href="/app/patients/add-patient" type="button" class="btn btn-rounded btn-outline-success fs-4">
                                    <i class="fa fas fa-user-plus me-1"></i> Registrar Paciente
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="loading" class="text-center pt-5 mt-5">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div>
                    <app-table-patients *ngIf="patientList" [patients]="patientList"></app-table-patients>
                </div>
            </div>
        </div>
    </div>
</div>