<!-- ============================================================== -->
<!-- Manage User Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-body px-5">
                <div class="row pb-4 no-gutters mt-3">
                    <div class="col-sm-12 col-md-6 justify-content-center">
                        <h3 class="fw-medium">Lista de Pacientes</h3>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="float-start float-md-end">
                            <!-- <a class="" href="/add-patient">
                                    <div class="btn btn-circle rounded-circle btn-success text-white">
                                        <i class="ti-plus"></i>
                                    </div>
                                    <span class="ms-2 fw-normal font-medium text-dark">Nuevo paciente</span>
                                </a> -->
                            <button type="button" class="btn btn-rounded btn-outline-primary me-3">
                                <i class="fa fas fa-download me-1"></i> Exportar
                            </button>
                            <a href="/app/patients/add-patient" type="button" class="btn btn-rounded btn-outline-success">
                                <i class="fa fas fa-user-plus me-1"></i> Registrar Paciente
                            </a>
                        </div>
                    </div>
                </div>
                <app-table-patients></app-table-patients>
            </div>
        </div>
    </div>
</div>