<div class="row">
    <div class="col-12">
        <div class="card shadow bg-white rounded-4">
            <div class="card-body px-5">
                <div class="text-center">
                    <h1 class="mt-2">Página en construcción</h1>
                    <img src="assets/images/error/construction.png" class="img-fluid my-3" alt="Página en construcción">
                    <h3>Esta página se encuentra en construcción, lamentamos las molestias.</h3>
                    <a href="/app/home" class="btn btn-primary btn-rounded fs-5 my-2">Ir al Inicio</a>
                </div>
                <!-- Encabezado y botón Back -->
                <!-- <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="pb-0 mb-0">Formulario ---</h2>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-primary btn-rounded fs-4 border-2" (click)="cancel()">
                            <i class="fas fa-angle-left me-2"></i>Regresar
                        </button>
                    </div>
                </div>
                <div class="my-3 fs-5">
                    <span>
                        ---
                    </span>
                </div> -->
                <!-- Formulario en tabla -->
                <!-- <div class="table-responsive">
                    <form [formGroup]="miFormulario" (ngSubmit)="onSubmit()">
                        <table class="table table-striped border fs-4 mb-4">
                            <thead class="table-dark text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Parte A</th>
                                    <th class="text-center">Nunca</th>
                                    <th class="text-center">Casi Nunca</th>
                                    <th class="text-center">A Veces</th>
                                    <th class="text-center">Casi Siempre</th>
                                    <th class="text-center">Siempre</th>
                                </tr>
                            </thead>
                            <tbody class="table-striped border border-dark align-middle fs-4">
                                 
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary btn-rounded border-2 text-white fs-4" (click)="clean()">
                                <i class="fas fa-eraser me-2"></i>Limpiar
                            </button>
                            <button type="submit" class="btn btn-success btn-rounded border-2 fs-4 ms-2">
                                <i class="fas fa-check me-2"></i>Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>