<div class="container my-2 py-1">
    <!-- Step 1 - title -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10">
            <span class="h2">
                <i class="fas fa-flag-checkered me-3 bg-info p-3 rounded-5 text-white"></i><strong class="me-2">Paso 2:</strong>Prepararse para la prueba
            </span>
        </div>
        <div class="col d-flex justify-content-md-end align-items-center mt-2 mt-md-0">
            <button type="button" class="btn btn-outline-primary btn-rounded btn-raised fs-5 border-2 me-2 px-4" (click)="cancel()">
                <i class="fas fa-angle-left me-2"></i>Regresar
            </button>
        </div>
    </div>
    <hr>
    <div class="tab-pane active">
        <h3 class="text-center">Recomendaciones</h3>
        <div class="row mb-5">
            <div class="col-12 fs-5">
                <p class="text-center fs-5">
                    Antes de empezar, lea con atención los siguientes recomnedaciones para obtener resultados más precisos:
                </p>
                <div class="row justify-content-md-center">
                    <div class="col-auto"></div>
                    <div class="col-12 col-md-7">
                        <p class="fs-5">
                            1.- No utilice el dispositivo si el nivel de la bateria es menor al 50%.<br>
                            2.- Ajuste correctamente el dispositivo para obtener valores más precisos.<br>
                            3.- La prueba debe tener una duración mínima de 20 minutos.<br>
                            4.- Ante cualquier interrupción se recomienda iniciar la prueba de nuevo. <br>
                            5.- Mantenga un ambiente libre de estrés y distracciones.<br>
                        </p>
                    </div>
                    <div class="col-auto"></div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-outline-success btn-rounded btn-raised fs-5 border-2" (click)="open(content)">
                Iniciar Prueba<i class="fas fa-angle-right ms-2"></i>
            </button>
        </div>
        <!-- Mi modal Start -->
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header bg-success text-white justify-content-center">
                <h4 class="modal-title" id="modal-basic-title">Iniciando prueba</h4>
            </div>
            <div class="modal-body fs-5 bg-white">
                <div class="row p-5 justify-content-center">
                    <span class="loader3"></span>
                    <span class="loader4">Preparando</span>
                </div>
            </div>
        </ng-template>
        <!-- Mi modal End -->
    </div>
</div>