<form class="editForm">
    <div class="tab-pane active">
        <h4 class="font-medium-2 text-center">{{title}}</h4>
        <br />
        <div class='row'>
            <div class='col-12'>
                <div class="d-flex justify-content-center">
                    <div class="card-body pt-0">
                        <ngb-carousel *ngIf="images" class="text-center carousel carousel-dark slide">
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[0]" class="img-fluid mb-5" alt="Random first slide" />
                                </div>
                                <div class="carousel-caption bg-light bg-opacity-25">
                                    <h3 class="">Muse Band 2</h3>
                                    <p class="">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[1]" class="img-fluid mb-5" alt="Random second slide" />
                                </div>
                                <div class="carousel-caption bg-light bg-opacity-25">
                                    <h3 class="">Muse Band Lite</h3>
                                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[2]" class="img-fluid mb-5" alt="Random third slide" />
                                </div>
                                <div class="carousel-caption bg-light bg-opacity-50">
                                    <h3 class="">Emotiv Epoc X-14</h3>
                                    <p class="">
                                        Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                                    </p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <button type="button" uiSref="tests" class="btn btn-success btn-raised" (click)="save()"> Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>