<div class="row">
    <div class="col-12">
        <div class="card shadow bg-white rounded-4">
            <div class="card-body px-5 fs-4">
                <div class="row mt-3">
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h3 class="fw-medium">Nuevo Paciente</h3>
                                <span>Llene el siguiente formulario para dar de alta a un nuevo paciente.</span>
                            </div>
                            <div>
                                <a href="/app/patients" class="btn btn-outline-primary btn-rounded fs-4 border-2">
                                    <i class="fas fa-angle-left me-2"></i>Regresar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <form>
                    <div class="row">
                        <h4 class="fw-medium">Datos Personales</h4>
                        <div class="row g-3 px-3 mt-0">
                            <div class="col-12 col-sm-12 col-md-3">
                                <label for="nombre" class="form-label">Nombre(s)</label>
                                <input type="text" class="form-control" placeholder="Juan Manuel" name="nombre" minlength="3" [(ngModel)]="paciente.nombre" required>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3">
                                <label for="apellidoP" class="form-label">Apellido Paterno</label>
                                <input type="text" class="form-control" placeholder="Porras" name="apellidoP" minlength="3" [(ngModel)]="paciente.apellidoP" required>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3">
                                <label for="apellidoM" class="form-label">Apellido Materno</label>
                                <input type="text" class="form-control" placeholder="Ramírez" name="apellidoM" minlength="3" [(ngModel)]="paciente.apellidoM" required>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input type="email" class="form-control" placeholder="ejemplo@gmail.com" name="correo" minlength="3" [(ngModel)]="paciente.correo" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="fw-medium">Datos Generales</h4>
                        <div class="row g-3 px-3 mt-0">
                            <div class="col-12 col-sm-12 col-md-2">
                                <label for="" class="form-label">Fecha Nacimiento</label>
                                <input type="date" class="form-control" name="fecha_nacimiento" [(ngModel)]="paciente.datos_generales.fechaNacimiento" required>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2">
                                <label for="" class="form-label">Sexo</label>
                                <select class="form-select" name="sexo" [(ngModel)]="paciente.datos_generales.sexo" required>
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option value="F">Femenino</option>
                                    <option value="M">Masculino</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2">
                                <label for="" class="form-label">Teléfono Personal</label>
                                <input type="text" class="form-control" placeholder="(xxx)xxx-xxxx" maxlength="10" name="telefono_1" [(ngModel)]="paciente.datos_generales.numTelefono" required>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2">
                                <label for="" class="form-label">Teléfono Familiar</label>
                                <input type="text" class="form-control" placeholder="(xxx)xxx-xxxx" maxlength="10" name="telefono_2" [(ngModel)]="paciente.datos_generales.numTelefonoFam" required>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2">
                                <label for="" class="form-label">Ocupación</label>
                                <select class="form-select" name="ocupacion" [(ngModel)]="paciente.datos_generales.ocupacion" required>
                                    <option value="" selected disabled>Seleccionar...</option>
                                    <option value="Estudiante">Estudiante</option>
                                    <option value="Trabajador">Trabajador</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-12 col-md-2">
                                <label for="" class="form-label">Dirección</label>
                                <input type="text" class="form-control" name="ciudad" placeholder="Ciudad/Municipio, Edo." [(ngModel)]="paciente.datos_generales.ciudadResidencia" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <h4 class="fw-medium">Datos Clínicos</h4>
                        <span>Indique a cotinuación si ha sido diagnosticado previamente con alguno de los siguientes trastornos:</span>
                        <div class="row px-3 mt-3">
                            <div class="col-12 col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="col-1">
                                        <input class="form-check-input border border-1" type="checkbox" name="cbx1" [(ngModel)]="cbx1" value="">
                                    </div>
                                    <div class="col">
                                        <label for="" class="form-label">Trastorno por Déficit de Atención</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="col-1">
                                        <input class="form-check-input border border-1" type="checkbox" name="cbx2" [(ngModel)]="cbx2" value="">
                                    </div>
                                    <div class="col">
                                        <label for="" class="form-label">Trastorno Bipolar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="col-1">
                                        <input class="form-check-input border border-1" type="checkbox" name="cbx3" [(ngModel)]="cbx3" value="">
                                    </div>
                                    <div class="col">
                                        <label for="" class="form-label">Trastorno Unipolar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="col-1">
                                        <input class="form-check-input border border-1" type="checkbox" name="cbx4" [(ngModel)]="cbx4" value="">
                                    </div>
                                    <div class="col">
                                        <label for="" class="form-label">Trastorno de Ansiedad</label>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="">¿Realiza el consumo de sustancias nocivas para la salud? (Por ejemplo, alcohol o drogas):</label>
                                <input type="radio" class="form-check-input border border-1 me-2" name="sustances" [(ngModel)]="sustances" value="1">Sí
                                <input type="radio" class="form-check-input border border-1 me-2 ms-3" name="sustances" [(ngModel)]="sustances" value="0" checked>No
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="">¿Consume medicamentos para tratar algunos de los trastornos mencionados? (Si es que aplica):</label>
                                <input type="radio" class="form-check-input border border-1 me-2" name="med" [(ngModel)]="med" value="1">Sí
                                <input type="radio" class="form-check-input border border-1 me-2 ms-3" name="med" [(ngModel)]="med" value="0">No
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 pt-3">
                        <div class="col-12 text-end">
                            <!-- <button type="button" (click)="test()">Test</button> -->
                            <button type="submit" class="btn btn-rounded btn-primary me-2 fs-4" (click)="cleanForm()">
                                <i class="fas fa-eraser me-2"></i>Limpiar
                            </button>
                            <button type="submit" class="btn btn-rounded btn-success fs-4" (click)="savePatient()">
                                <i class="fas fa-user-plus me-2"></i>Agregar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>