<nav class="sidebar-nav bg-primary">
    <ul id="sidebarnav">
        <!-- First level menu -->
        <li class="sidebar-item" 
            [class.selected]="showMenu === sidebarnavItem.title" 
            *ngFor="let sidebarnavItem of sidebarnavItems">
            <a class="sidebar-link waves-effect waves-dark"
                [ngClass]="{ 'bg-danger opacity-100': isLinkActive(sidebarnavItem.path) }"
                [routerLink]="sidebarnavItem.path">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title | translate}}</span>
            </a>
        </li>
    </ul>
</nav>