<!-- ============================================================== -->
<!-- Resumen pacientes                                              -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <app-stats></app-stats>
    </div>
</div>
<!-- ============================================================== -->
<!-- Historial de pruebas y pacientes atendidos recientemente       -->
<!-- ============================================================== -->
<div class="row mt-2">
    <div class="col-lg-8">
        <div class="card shadow rounded-4 bg-white pt-1">
            <div class="card-body">
                <app-history-tdah-tests></app-history-tdah-tests>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <app-recent-patients></app-recent-patients>
    </div>
</div>