<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let device of deviceList">
        <div class="card shadow bg-white rounded-4">
            <div class="card-body">
                <div class="picsum-img-wrapper">
                    <img src="{{ device.imagePath }}" class="img-fluid" alt="Random first slide" />
                </div>
                <div class="bg-light text-black bg-opacity-50 text-center">
                    <h3 class="">{{ device.Name }}</h3>
                    <!-- <p class="">{{ device.Description }}</p> -->
                </div>
                <div class="text-center">
                    <span class="badge rounded-pill font-medium" [ngClass]="{
                                    'bg-success':device.Status==='Sincronizado',
                                    'bg-warning':device.Status==='No Sincronizado'
                               }">{{ device.Status }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="h-100 d-flex align-items-center">
            <div class="card-body text-center">
                <button type="button" class="btn btn-success btn-rounded btn-circle btn-xl" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Agregar nuevo dispositivo">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>